body{
  margin: 0;
  padding: 0;
  background-color: #eaeaea;
}

header {
  margin: 0;
  padding: 20px;
  background-image: url(../img/bg.png);
  background-size: contain;
  border-bottom: 1px solid #52132f;
}

header h1 {
  color: white;
  text-shadow: 3px 3px 4px #52132f;
  font-size: 5em;
}

section {
  padding: 25px;
  background-color: white;
  margin: 0 auto;
  max-width: 1300px;
}

.growl-post {
  width: 500px;
  padding: 10px;
  border: 1px solid #bbbbbb;
}

.growl-post2 {
  border: 3px dotted #a8216b;
}

footer {
  text-align: center;
  color: white;
  text-shadow: 1px 1px 2px #52132f;
  margin: 0;
  padding: 20px;
  background-image: url(../img/bg2.png);
  background-size: contain;
  border-top: 1px solid #52132f;
}
