body{
  margin: 0;
  padding: 0;
  background-color: #eaeaea;
}

header {
  margin: 0;
  padding: 20px;
  background-image: url(../img/bg.png);
  background-size: contain;
  border-bottom: 1px solid #52132f;
}

header h1 {
  text-align: center;
  position: relative;
  top: 40px;
  color: white;
  text-shadow: 4px 4px 7px #52132f;
  font-size: 4em;
}

header h2 {
  text-align: center;
  position: relative;
  left: 200px;
  font-size: 2em;
  color: white;
  font-weight: normal;
  text-shadow: 1px 1px 2px black;
}

section {
  padding: 25px;
  background-color: white;
  margin: 0 auto;
  max-width: 1300px;
}

hr {
  width: 800px;
  border: 1px dashed #f26a44;
}

#username_submit, #new_growl {
  border-radius: 10px;
  border: 1px dotted #2e9598;
  padding: 5px;
  font-size: .9em;
  height: 20px;
  margin-bottom: 4px;
}

#name_submit {
  font-size: 1em;
}

#new_growl {
  height: 70px;
}

.growl-post {
  position: relative;
  padding: 15px;
  border: 1px solid #bbbbbb;
  border-radius: 15px;
  box-shadow: 1px 1px 1px #707070;
  text-align: center;
}

.growl-post img {
  position: absolute;
  top: 100%;
  left: 20px;
}

.growl-user {
  font-weight: bold;
  color: #a8216b;
}

.entire-post {
  width: 500px;
  margin: 50px auto;
}

.new-post {
  width: 600px;
  margin: 0 auto 30px;
}

footer {
  text-align: center;
  color: white;
  text-shadow: 1px 1px 2px #52132f;
  margin: 0;
  padding: 20px;
  background-image: url(../img/bg2.png);
  background-size: contain;
  border-top: 1px solid #52132f;
}
