 <article class="new-post">
   <%if @id%>
    <p>Your user ID is: <%=@id%>. Enter that below, yo!</p>
    <%end%>
   <form action="/growling" method="post">
  <h3>Growl at me, bro:</h3>
    <textarea rows="3" cols="50" id="new_growl" maxlength="142" name="growl[input]"></textarea><br>
    <input type="text" placeholder="userid" id="userid" name="growl[user_id]">
    <input type="submit" value="Grrr! 😡" id="grrr">
</form>
 </article>
 <hr />


 <% @growls.each do |growl| %>
 <article class="entire-post">
   <p class="growl-post"><%= growl.input %><img src="img/v.png"></p>
   <p class="growl-user">~ <%= growl.user.username %></p>
 </article>
<% end %>
