
<h2>Yo, what your name is?</h2>
<form action="/" method="post">
  <input type="text" name="username"><br>
    <input type="submit" value="Say my name!">
</form>

<% @growls.each do |growl| %>
<p> <%= growl.input %><br>
   ~ <%= growl.user.username %>
</p>



<% end %>
